*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{
  background-color: rgb(159, 249, 240);
}
.dark-mode{
  background-color: rgb(37, 36, 36);
  color: white;
}
#navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  border: 3px solid rgb(229, 253, 11);
}
#mode{
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar button{
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: rgb(79, 200, 32);
}
#logo{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
}
#logo a{
  text-decoration: none;
}
#logo h2{
  color: rgb(30, 123, 190);
}
#footer{
  background-color: black;
  color: white;
  padding: 0.8rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 1px 1px 10px white;
}

#contact{
  height: 90vh;
  justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 line-height: 1.5;
}
#contact p{
  font-size: 1.5rem;
} 
#contact h1{
  font-size: 3rem;
}
.display{
  display: block;
}

#about{
  height: 100%;
  padding-top: 1rem ;
  padding-bottom: 6rem;
  text-align: center;
  line-height: 1.5;
}

#about #about-inner{
  width: 50vw;
  margin: auto;
}
#about-inner h3{
  font-size: 1.5rem;
}
#about-inner .box{
  border: 1px solid black;
  margin: 1rem;
  background-color: white;
  color: black;
padding: 1rem;
border-radius: 40px;
}

#home{
  height: 100%;
  padding-top: 1rem ;
  padding-bottom: 2rem;
   line-height: 1.5;
}
#inner-home{
  width: 74vw;
  margin: auto;
}
#home h1{
  text-align: center;
  margin-bottom: 1rem;
}

textarea,pre{
  width: 90%;
  height: 6rem;
  background-color: rgb(253, 246, 246);
  border: none;
  box-shadow: 2px 2px 8px black;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: black;
}

button{
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 2px 3px 5px black;
  justify-content: center;
}
#upper{
  background-color: rgb(67, 67, 243);
}
#lower{
  background-color: rgb(0, 183, 255);
}
#clear{
  background-color: red;
}
#copy{
  background-color: rgb(50, 187, 12);
}
#space{
  background-color: grey;
}
#summary{
  margin: 1rem;
  text-align: center;
}
#summary h2{
  font-size: 2rem;
  color: rgb(2, 72, 24);
}
#summary p{
  font-size: 1.3rem;
  font-style: italic;
}
#summary p span{
  font-weight: 600;
}